.allpage{
    background-image: url("../image/各种图片/背景查询.png");
    width: 1080px;
    height: 1920px;
    text-align: center;
}
input{
    border-style:none;
    border-bottom-style:solid;
    border-bottom-width:thin;
    border-bottom-color:black;
    background-color: transparent;
    width:500px;
    font-size: 60px;
    position: relative;
    left: 170px;
}
.number{
    margin-top: 900px;
}